/ Copyright 2014 Library of Billion Words, Leipzig University
/
/ Licensed under the Apache License, Version 2.0 (the "License");
/ you may not use this file except in compliance with the License.
/ You may obtain a copy of the License at
/
/     http://www.apache.org/licenses/LICENSE-2.0
/
/ Unless required by applicable law or agreed to in writing, software
/ distributed under the License is distributed on an "AS IS" BASIS,
/ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
/ See the License for the specific language governing permissions and
/ limitations under the License.

- model_class = Edition
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:oclc_id) + ':'
  %br
  - if @edition.oclc_id
    = link_to Oclc.find(@edition.oclc_id).number, Oclc.find(@edition.oclc_id)
%p
  %strong= model_class.human_attribute_name(:best_match_id) + ':'
  %br
  - if @edition.best_match_id
    = link_to Oclc.find(@edition.best_match_id).number, Oclc.find(@edition.best_match_id)
%p
  %strong= model_class.human_attribute_name(:marc_record_id) + ':'
  %br
  - if @edition.marc_record_id
    = link_to MarcRecord.find(@edition.marc_record_id).id, MarcRecord.find(@edition.marc_record_id)

    != CodeRay.scan(MarcRecord.find(@edition.marc_record_id).marc, :xml).div()

.form-actions
  = link_to 'Map', map_edition_path, :class => 'btn btn-success'
  = link_to t('.back', :default => t("helpers.links.back")), editions_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_edition_path(@edition), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), edition_path(@edition), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
