/ Copyright 2014 Library of Billion Words, Leipzig University
/
/ Licensed under the Apache License, Version 2.0 (the "License");
/ you may not use this file except in compliance with the License.
/ You may obtain a copy of the License at
/
/     http://www.apache.org/licenses/LICENSE-2.0
/
/ Unless required by applicable law or agreed to in writing, software
/ distributed under the License is distributed on an "AS IS" BASIS,
/ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
/ See the License for the specific language governing permissions and
/ limitations under the License.

!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Mdmap"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

    = javascript_include_tag "/datatables/jquery.dataTables.min.js"
    / = javascript_include_tag "/datatables/ColReorder.js"
    = javascript_include_tag "http://code.jquery.com/jquery-migrate-1.2.1.js"
    = javascript_include_tag "/datatables/FixedColumns.js"
    = javascript_include_tag "/keyTable/js/dataTables.keyTable.js"
    = javascript_include_tag "/jquery.highlight-4.js"
    / = javascript_include_tag "/datatables/FixedHeader.js"


  %body{ :style => "padding-top: 50px;"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .brand= link_to 'Mdmap', root_path

          .container.nav-collapse
            %ul.nav
              %li
                = link_to "Editions (" + Edition.all.size.to_s + ")", editions_path
                %span.navbar-unread= "1"
              %li= link_to "Marc Records (" + MarcRecord.all.size.to_s + ")", marc_records_path
              %li= link_to "OCLC IDs (" + Oclc.all.size.to_s + ")", oclcs_path
              %li= link_to "xOCLC Relations (" + Xoclc.all.size.to_s + ")", xoclcs_path
              %li= link_to "Finc Records (" + FincRecord.all.size.to_s + ")", finc_records_path
              %li= link_to "Perseus Records (" + PerseusRecord.all.size.to_s + ")", perseus_records_path

    .container

      .row
        %div
          = bootstrap_flash
          = yield
        / .span3
        /   .well.sidebar-nav
        /     %h3 Sidebar
        /     %ul.nav.nav-list
        /       %li.nav-header Sidebar
        /       %li= link_to "Link 1", "/path1"
        /       %li= link_to "Link 2", "/path2"
        /       %li= link_to "Link 3", "/path3"
    
      %footer.navbar-bottom{ :style =>"height: 80px; margin-top: 50px; background-color: transparent;"}
        .container
          .row
            = image_tag "/images/esf/logo.jpg"
